@import "@89netram/snygg/src/vars";

label.file {
	position: relative;

	input[type="file"] {
		display: none;

		&:invalid + span::before {
			content: attr(data-no-file);
		}
		&:not(:invalid) + span::before {
			content: attr(data-selected-file);
		}

		& + span {
			margin-left: 1ch;
		}
	}
}
