@import "@89netram/snygg/src/index";
@import "@89netram/snygg/src/vars";
@import "./person";

@media (min-width: $bigScreen) {
	nav {
		width: 20rem;
	}
}

nav {
	overflow-y: auto;
}

button.icon {
	padding: $distance / 2;
}
