@import "@89netram/snygg/src/index";
@import "@89netram/snygg/src/vars";
@import "./person";
@import "./file";

$newNavSize: 20rem;

@media (min-width: $bigScreen) {
	nav {
		width: $newNavSize;
	}
	main {
		margin-left: $newNavSize;
	}
}

nav {
	overflow-y: auto;
}

main {
	height: calc(100vh - #{$headerSize});

	.dialog & {
		height: unset;
	}
}

button.icon {
	padding: $distance / 2;
}
