@import "@89netram/snygg/src/vars";

nav {
	details {
		padding-top: $distance / 2;
		padding-left: $distance;
		padding-bottom: $distance / 2;

		border-width: 1px 0px;
		border-style: solid;
		border-color: transparent;

		user-select: none;

		&:first-of-type {
			margin-top: $distance / 2;
			border-top-color: transparent;
		}
		&:last-of-type {
			border-bottom-color: transparent;
		}

		&:not([open]) {
			&:hover {
				background-color: var(--highlight);
			}
		}
		&[open] {
			border-color: var(--color);

			&:first-of-type {
				border-top-color: transparent;
			}
			&:last-of-type {
				border-bottom-color: transparent;
			}

			summary {
				cursor: default;

				&::before {
					content: "🔽";
				}

				.image-wrapper {
					cursor: pointer;

					&:hover {
						&::after {
							display: block;
						}
						.image {
							filter: brightness(0.5);
						}
					}
				}
			}
		}

		summary {
			font-size: 1.25em;
			outline: none;
			cursor: pointer;
			display: flex;

			&::before {
				padding: $distance / 4 0px;
				border: 1px solid transparent;
				cursor: pointer;
				content: "▶️";
			}

			> div {
				display: inline-flex;
				flex-grow: 1;
				padding-right: $distance;

				.image-wrapper {
					width: 1.75em;
					height: 1.75em;
					margin: 0px $distance / 4;
					border-radius: 100%;
					align-self: flex-end;
					flex-shrink: 0;
					position: relative;
					overflow: hidden;

					&::after {
						content: "✏️";
						display: none;
						position: absolute;
						top: 50%;
						left: 50%;
						transform: translate(-50%, -50%);
					}

					.image {
						width: 100%;
						height: 100%;
						background-position: center;
						background-size: cover;
						background-repeat: no-repeat;
					}
				}

				span {
					padding: $distance / 4 $distance / 2;
					border: 1px solid transparent;

					&:first-of-type {
						flex-grow: 1;
					}
				}

				input {
					display: inline-block;
					font-size: inherit;
					font-family: inherit;
				}
			}
		}

		> div {
			margin-left: 2 * $distance;

			h3 {
				margin-top: $distance / 2;
				margin-bottom: 0px;
			}

			ul {
				margin: 0px;
				margin-bottom: $distance / 2;
				padding-left: 2rem;
				list-style: unset;
	
				li {
					height: unset;
					cursor: unset;
					position: relative;
					padding: $distance / 4 0px;
					margin-bottom: $distance / 4;

					&:hover {
						background-color: unset;
					}

					> * {
						position: absolute;
						top: 50%;
						transform: translate(0px, -50%);
					}

					button {
						position: absolute;
						right: $distance;
					}
				}
			}

			div {
				display: flex;
				padding-right: $distance;

				input {
					flex-grow: 1;
				}
			}
		}
	}

	.new-person {
		padding: $distance / 2 $distance;
		border-top: 1px solid transparent;
		display: flex;
		flex-direction: column;
		justify-content: stretch;

		label > input {
			max-width: unset;
		}

		button {
			margin-top: $distance / 2;
			align-self: flex-end;
		}
	}
	details + .new-person {
		border-top-color: var(--color);
	}
}
